# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


git rm --cached -r </data/SCRIPTS/DIAGNOSIS>

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/data/SCRIPTS/DIAGNOSIS
/Debug
/Release
/.vs
